---
me: Eric Banisadr
tagline: Passionate programmer with a focus on product excellence
links:
  - { platform: 'Email', link: 'mailto:ebani@cs.washington.edu', title: 'Email me', text: 'ebani@cs.washington.edu' }
  - { platform: 'Web', link: 'https://ericbanisadr.com?ref=resume-web', title: 'My website', text: 'ericbanisadr.com' }
  - { platform: 'LinkedIn', link: 'https://www.linkedin.com/in/ebanisadr/', text: 'linkedin.com/in/ebanisadr' }
  - { platform: 'GitHub', link: 'https://www.github.com/ebanisadr', text: 'github.com/ebanisadr'}
about:
  - I believe it's important to always be growing and improving both
    technically and as a communicator.  I'm an avid reader of technical blogs
    and I'm quick and eager to learn. I have excellent communication skills and
    believe working collaboratively is essential to good software development.
experience:
  - company: Lyft
    link: https://www.lyft.com
    title: Software engineer
    shortdate: Current job
    longdate: August 2022 - Present
    bullets:
      - Part of the dispatch infrastructure team, detailed description
        forthcoming
  - company: Lyft
    link: https://www.lyft.com
    title: Software engineer intern
    shortdate: Summer 2021
    longdate: June 2021 - September 2021
    bullets:
      - Lead research, design, and implementation of a new,
        [Homebrew](https://brew.sh){:target="_blank"}-based platform for
        distributing development tools and software to 3,500+ engineers
        internally
      - Contributed Python and Ruby code, provisioned
        infrastructure, wrote high-quality design and technical documentation
      - Successful knowledge transfer led to smooth rollout after a blockage
        waiting for artifact storage service, platform still in use
  - company: LightRiver Technologies
    link: https://lightriver.com
    title: Engineering intern
    shortdate: Summer 2019
    longdate: June 2019 - August 2019
    bullets:
      - Configured, tested and deployed fiber optic networking equipment with a
        team of engineers for clients nationwide
      - Developed internal configuration scripts to automate the provisioning
        of equipment for large corporate customers
education:
  - school: University of Washington
    shortdate: 2018 - 2022
    description:
      Bachelor of Science degree in Computer Science received June 2022.
      <br>
      Relevant coursework included data structures and parallelism, hardware
      basics, databases, and advanced math including linear and modern algebra.
technologies:
  - I have extensive experience writing code in JavaScript, Java, and Python
    and I am familiar with best practices for code testing, version control,
    code reviews, MVC architectures, and Agile development. I'm always open to
    learning new technologies and development processes.
projects:
  - name: ericbanisadr.com
    function: My blog
    link: https://ericbanisadr.com?ref=resume-web-project
    description:
      Built a statically generated site in vanilla HTML and CSS, using
      [Jekyll](https://jekyllrb.com){:target='_blank' :rel='noopener'} and the mobile-first principle, with
      emphasis on fast loading times and search engine optimization.
service:
  - organization: Washington Yacht Club
    link: http://www.washingtonyachtclub.org
    title: Database consultant
    shortdate: Since 2018
    longdate: July 2020 - Present
    description:
      Ongoing maintenance and support for our club's membership database,
      including upgrading MySQL/PHP versions and user support.  Responsible for
      proposing and implementing new features as needed by the club.
---
<head>
  <link rel='preload' href='{{ site.url }}/fonts/inter.woff2' as='font' crossorigin>
  <link rel='preload' href='{{ site.url }}/fonts/inter-italic.woff2' as='font' crossorigin>
  <link rel='preload' href='{{ site.url }}/fonts/inter-bold.woff2' as='font' crossorigin>
  <link id='stylesheet' rel='stylesheet' href='{{ site.url }}/resume/resume.css' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <meta name="robots" content="noarchive" />
  <title>Resume | {{ page.me }}</title>
</head>
<body>
  <div id='pdf-link'>
    {%- include social-icon.html platform='pdf' link='https://ericbanisadr.com/resume/Eric%20Banisadr%20-%20Resume.pdf' text='One-page PDF version' title='One-page PDF version' -%}
  </div>
  <main>
    <header class='columns'>
      <section class='left'>
        <h1>{{ page.me }}</h1>
        {{ page.tagline | markdownify }}
      </section>
      <section id='links' class='right'>
        <ul class='social-links'>
          {% for item in page.links %} <li>
            {%- include social-icon.html platform=item.platform link=item.link text=item.text title=item.title -%}
          </li> {% endfor %}
        </ul>
      </section>
    </header>
    <div id='main' class='columns'>
      <section id='about' class='right'>

        <h2>About</h2>
        {% for item in page.about %}
          {{ item | markdownify }}
        {% endfor %}

        <h2>Education</h2>
        {% for school in page.education %}
          <span class='item-header'>
            <h3>{{ school.school }}</h3>
            <p>{{ school.shortdate | replace: " ", "&nbsp;" | replace: "-", "&ndash;"}}</p>
          </span>
          {{ school.description | markdownify }}
        {% endfor %}

        <h2>Technologies</h2>
        {% for item in page.technologies %}
          {{ item | markdownify }}
        {% endfor %}
      </section>

      <section class='experience left'>
        <h2>Experience</h2>
        {% for job in page.experience %}
        <span class='item-header'>
          <h3><a href='{{ job.link }}' target='_blank' rel='noopener'>{{ job.company }}</a></h3>
          <span class='item-info'>
            <job-title>{{ job.title }}</job-title>
            <item-date>{{ job.shortdate | replace: " ", "&nbsp;" }}</item-date>
            <long-date>{{ job.longdate | replace: "-", "&ndash;" }}</long-date>
          </span>
        </span>
        <ul>
          {% for item in job.bullets %}
          <li>{{ item | markdownify }}</li>
          {% endfor %}
        </ul>
        {% endfor %}

        <h2 id='projects'>Projects</h2>
        {% for project in page.projects %}
        <span class='item-header'>
          <h3><a href='{{ project.link }}' target='_blank' rel='noopener'>{{ project.name }}</a></h3>
          {{ project.function | markdownify }}
        </span>
        {{ project.description | markdownify }}
        {% endfor %}

        <h2>Service</h2>
        {% for item in page.service %}
        <span class='item-header'>
          <h3><a href='{{ item.link }}' target='_blank' rel='noopener'>{{ item.organization }}</a></h3>
          <span class='item-info'>
            <job-title>{{ item.title }}</job-title>
            <item-date>{{ item.shortdate | replace: " ", "&nbsp;" }}</item-date>
            <long-date>{{ item.longdate | replace: "-", "&ndash;" }}</long-date>
          </span>
        </span>
        {{ item.description | markdownify }}
        {% endfor %}
      </section>
    </div>
  </main>
</body>
