<meta charset='utf-8'>

<link rel='preload' href='{{ site.url }}/fonts/bitter.woff2' as='font' crossorigin>
<link rel='preload' href='{{ site.url }}/fonts/inter.woff2' as='font' crossorigin>
<link rel='prefetch' href='{{ site.url }}/fonts/inter-italic.woff2' as='font' crossorigin>
<link rel='prefetch' href='{{ site.url }}/fonts/inter-bold.woff2' as='font' crossorigin>
<!-- not prefetching inter-bold-italic because I'm pretty sure I don't ever use it-->
<link id='stylesheet' rel='stylesheet' href='{{ site.url }}/stylesheet.css' />
<meta name='viewport' content='width=device-width, initial-scale=1.0' />
<meta name='msapplication-TileColor' content='#002730' />
<meta name='theme-color' content='#ffffff' />
