<meta charset='utf-8'>

<link rel='preload' href='{{ site.url }}/fonts/bitter.woff2' as='font'>
<link rel='preload' href='{{ site.url }}/fonts/ibm-plex-sans.woff2' as='font'>
<link rel='preload' href='{{ site.url }}/fonts/ibm-plex-sans-italic.woff2' as='font'>
<link rel='prefetch' href='{{ site.url }}/fonts/ibm-plex-sans-bold.woff2' as='font'>
<link id='stylesheet' rel='stylesheet' href='{{ site.url }}/stylesheet.css' />
<meta name='viewport' content='width=device-width, initial-scale=1.0' />
<meta name='msapplication-TileColor' content='#002730' />
<meta name="theme-color" media="(prefers-color-scheme: light)" content="#f2f2f2" />
<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#002730" />
