{% unless include.platform == 'Email' %}
  {% capture alt %}Eric Banisadr on {{ include.platform }}{% endcapture %}
  {% capture link %}{{ include.link }}{% endcapture %}
  {% capture text %}{{ include.text }}{% endcapture %}
  {% assign script='' %}
{% else %}
  {% comment %} Hide email links {% endcomment %}

  {% assign alt='Email me' %}
  {% capture text %}{% if include.text %}Enable JavaScript{% endif %}{% endcapture %}
  {% capture script %}
  <script id='deobfuscator'>
    var start = '{{ include.link | split: '@' | first }}';
    var end = '{{ include.link | split: '@' | last }}';
    var text_start = '{{ include.text | split: '@' | first }}';
    var text_end = '{{ include.text | split: '@' | last }}';
    var text = (text_end == '') ? text_start : text_start + '@' + text_end;
    var parent = document.getElementById('deobfuscator').parentNode;
    parent.innerHTML = parent.innerHTML.replace('Enable JavaScript', text);
    parent.setAttribute('href', start + '@' + end);
    document.getElementById('deobfuscator').outerHTML = "";
  </script>
  {% endcapture %}
  {% assign link='address hidden, use javascript' %}
{% endunless %}

{% if text != '' %}
  {% assign class="class='text-icon' " %}
{% endif %}

{% comment %} Necessary to remove trailing newline from svg file {% endcomment %}
{% capture icon %}
{%- include {{ include.platform | downcase | prepend: 'icons/' | append: '.svg' }} -%}
{% endcapture %}

<a title='{{ alt }}' href='{{ link }}' {{ class }}target='_blank' rel='noopener'>
  {{- icon | rstrip -}}{{- text | strip -}}{{- script }}</a>

