---
---
/**
 * CSS written/edited by hand by Eric Banisadr.
 * Based on Water.css (https://github.com/kognise/water.css)
 */

@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url({{ site.url }}/assets/bitter.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url({{ site.url }}/assets/work-sans.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url({{ site.url }}/assets/work-sans-italic.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Theme variables */

:root {
  --title-fonts: 'Bitter', 'Palatino Linotype', Palatino, serif;
  --body-fonts: 'Work Sans', 'Helvetica Neue', Helvetica, sans-serif;
  --mono-fonts: Monaco, Consolas, monospace;

  /* Variables that change with theme */
  --background-body: #f2f2f2;
  --background: #e0e0e0;
  --background-alt: #e6e6e6;
  --text-main: #363636;
  --text-bright: #002b47;
  --text-muted: #66747b;
  --links: #0076d1;
  --focus: #0096bfab;
  --border: #bbbbbb;
  --code-plain: #000; /* blocks that aren't syntax highlighted */

  /* syntax highlighting */
  --code: #3d3e3f;
  --code-comment: var(--text-muted);
  --code-string: #82649f;
  --code-keyword: #6b9f3b;
  --code-function: var(--code);
  --code-symbol: #cb4b16;
  --code-params: #6c8be0;
}

@media (prefers-color-scheme: dark) { :root {
  --background-body: #002730;
  --background: #161f27;
  --background-alt: #212e3b;
  --text-main: #d4d4d4;
  --text-bright: #dbdbdb;
  --text-muted: #66747b;
  --links: #41adff;
  --focus: #0096bfab;
  --border: #dbdbdb;
  --code-plain: #b0944a;

  --code: #d3d4d5;
  /*--code-comment: var(--text-muted);*/
  --code-string: #a082bd;
  --code-keyword: #93c763;
  /*--code-function: var(--code);*/
  --code-symbol: #cb4b16;
  --code-params: #7fbcf0;
}}

/* Semantic layout elements */

body {
  font-family: var(--body-fonts);
  font-size: 16px;

  max-width: 800px;
  margin: 20px auto;
  /* left padding keeps content centered if a scrollbar shows up on the right */
  padding: 0 15px 10px calc(100vw - 100% + 15px);

  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 50px);

  color: var(--text-main);
  background: var(--background-body);

  text-rendering: optimizeLegibility;
}

/* Drop unnecessary scrollbars due to iOS Safari initially obscuring some
 * content with it's top and bottom bars on pages that are 100vh tall */
@supports(-webkit-overflow-scrolling: auto) {
  body {
    min-height: calc(100vh - 160px);
  }
}

@media(min-width: 450px) {
  body {
    font-size: 20px;
  }
}

main {
  flex-grow: 1;
}

article {
  line-height: 1.7;
}

article p, article li {
  text-align: justify;

  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;

  word-wrap: break-word;
}

main.info-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main.info-card img {
  border-radius: 266px;
}

main.info-card * {
  margin: 0.5em 0 0 0;
  color: var(--text-main);
}

main.post-listing {
  line-height: 1.7;
}

main.post-listing ul, main.post-listing li {
  list-style-type: none;
  padding: 0;
}

main.post-listing a, a:hover {
  color: var(--text-main);
  text-decoration-color: var(--text-muted);
}

main.sitemap h1 {
  line-height: 1.7;
}
main.sitemap h3 {
  display: inline;
  margin-right: 5px;
}

main.sitemap h3 a:hover {
  text-decoration: none;
}

main.sitemap a {
  color: inherit;
  text-decoration-color: var(--text-muted);
}

main.sitemap tbody tr:nth-child(even) {
  background-color: initial;
}

main.sitemap tbody h3 {
  padding-right: 0;
}

main.sitemap tbody tr td:first-child {
  max-width: 100%;
}

main.library {
  line-height: 1.7;
}

main.library ul {
  line-height: 1.2;
  list-style: none;
}

main.library li p {
  margin-top: 0;
  margin-bottom: 20px;
}

main.library a, a:hover {
  color: var(--text-main);
  text-decoration-color: var(--text-muted);
}

footer {
  padding-top: 10px;
  font-size: 0.8em;
  color: var(--text-muted);
}

footer a {
  color: var(--text-muted);
}

/* page header */

body > header > nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

body > header > nav * {
  align-self: baseline;
  display: inline;
  margin: 0;
  padding: 0;
}

body > header > nav li {
  margin-left: 5px;
}

body > header > nav li:first-child {
  margin-left: 0;
}

body > header > nav a:hover {
  text-decoration: none;
}

/* page footer */

body > footer {
  display: flex;
  flex-flow: inline wrap;
  justify-content: space-between;

  border-top: 1px solid var(--background);
}

/* headings and bold */

h1, h2, h3, h4, h5, h6 {
  font-family: var(--title-fonts);
  margin-bottom: 12px;
  color: var(--text-bright);
  font-weight: 1000;
}

h1 {
  font-size: 2em;
  margin-top: 1em;
}

h1 + small {
  font-style: oblique;
}

strong, b, th {
  color: var(--text-bright);
  font-weight: 600;
}

/* quotes and blockquotes */

q::before, q::after {
   content: none;
}

blockquote, q {
  border-left: 4px solid var(--focus);
  margin: 1.5em 0em;
  padding: 0.5em 1em;
  font-style: italic;
}

blockquote > footer {
  font-style: normal;
  border: 0;
}

blockquote cite {
  font-style: normal;
}

/* random normal elements */

a {
  text-decoration: none;
  color: var(--links);
  text-decoration-color: var(--links);
}

a:hover {
  text-decoration: underline;
  text-decoration-color: initial;
}

img {
  max-width: 99%;
  height: auto;
  padding: 0px 0.5%;
  display: block;
  margin: 20px auto 0px;
}

hr {
  border: none;
  border-top: 1px solid var(--border);
}

small {
  color: var(--text-muted);
  font-size: 15px;
}

@media(min-width: 450px) {
  small {
    font-size: initial;
  }

  main.sitemap tbody td {
    vertical-align: initial;
  }
}

span.social-icons svg {
  border-radius: 4px;
}

span.social-icons svg path {
  fill: var(--text-muted);
}

/* Tables */

table {
  border-collapse: collapse;
  margin-bottom: 10px;
  width: 100%;
}

td, th {
  padding: 6px;
  text-align: left;
}

thead {
  border-bottom: 1px solid var(--border);
}

tfoot {
  border-top: 1px solid var(--border);
}

tbody tr:nth-child(even) {
  background-color: var(--background-alt);
}

details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--background-alt);
  padding: 10px 10px 0;
  margin: 1em 0;
  border-radius: 6px;
  overflow: hidden;
}

details[open] {
  padding: 10px;
}

details > :last-child {
  margin-bottom: 0;
}

details[open] summary {
  margin-bottom: 10px;
}

summary {
  display: list-item;
  background-color: var(--background);
  padding: 10px;
  margin: -10px -10px 0;
}

details > :not(summary) {
  margin-top: 0;
}

summary::-webkit-details-marker {
  color: var(--text-main);
}

abbr[title]:after {
  content: " (" attr(title) ")";
}

@media(any-hover: hover) {
  abbr[title]:after {
    content: none;
  }

  abbr[title] {
    cursor: help;
    text-decoration: underline;
    text-decoration-style: dotted;
  }

  abbr[title]:hover::after {
    content: " (" attr(title) ")";
  }
}



/* code formatting */

code {
  background:  var(--background);
  font-family: var(--mono-fonts);
  color: var(--code-plain);
  padding: 2.5px 5px;
  border-radius: 6px;
  font-size: 0.85em;
  word-wrap: normal;

  /* remove hyphens for inline code */
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre > code {
  padding: 10px;
  display: block;
  overflow-x: auto;
  white-space: pre;
}

kbd {
  background: var(--background);
  border: 1px solid var(--border);
  border-radius: 2px;
  color: var(--text-main);
  padding: 2px 4px 2px 4px;
  font-size: 0.85em;
}

/* Syntax highlighting scheme */

code[class^="language-"] {
  color: var(--code);
}

code .comment,
code .quote {
  color: var(--code-comment);
}

code .string,
code .number,
code .meta .meta-string,
code .literal
code .doctag,
code .regexp {
  color: var(--code-string);
}


code .keyword,
code .selector-tag,
code .addition {
  color: var(--code-keyword);
}

code .title,
code .section,
code .name,
code .selector-id,
code .selector-class {
  color: var(--code-function);
}

code .variable,
code .attribute,
code .attr,
code .template-variable,
code .class .title,
code .type {
  color: var(--code-function);
}

code .symbol,
code .bullet,
code .subst,
code .meta,
code .meta .keyword,
code .selector-attr,
code .selector-pseudo,
code .link,
code .built_in,
code .deletion {
  color: var(--code-symbol);
}

code .params {
  color: var(--code-params);

}
code .emphasis {
  font-style: italic;
}

code .strong {
  font-weight: bold;
}
